{% extends 'pos/shop/shop_base.html' %}
{% load static %}
{% load form_tags %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
<script src="{% static 'pos/js/product_forms.js' %}" defer></script>
{% endblock %}
{% block content %}
<div class="flex flex-col text-text items-center">
    <h1 class="header">New Product</h1>
    <form action="" method="post" enctype="multipart/form-data" class="main-form w-72 md:w-[600px] flex flex-col">
        {% csrf_token %}
        {% for field in product_form %}
            <div class="flex flex-col gap-1 mb-4">
                <label class="text-sm text-secondary-text">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                    <p class="text-red-500 text-sm">{{ field.errors }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div id="variant-forms">
            {{ variant_formset.management_form }}
            {% for form in variant_formset %}
                {% include "pos/shop/partials/variant_form.html" %}
            {% endfor %}
        </div>
        <button class="normal-btn w-32" hx-get="{% url 'get_variant_snippet' shop.slug %}" hx-target="#variant-forms" hx-swap="beforeend">Add Variant</button>

        <button type="submit" class="submit-btn normal-btn w-32 self-end">Add Product</button>
    </form>
</div>
{% endblock %}