{% extends 'pos/shop/shop_base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'pos/js/sidebar.js' %}" defer></script>
{% endblock %}
{% block content %}


<div class="text-text flex flex-col p-10 h-full gap-4">


    <div class="flex flex-col md:flex-row items-start gap-4">
        <!-- Image -->
        <div class="shrink-0">
            <img src="{{ product.get_image_url }}" alt="" class="w-96 h-96 rounded-md shadow-sm object-contain bg-white">
        </div>

        <!-- Details -->
        <div class="flex flex-col gap-2 bg-surface rounded-lg p-3 h-96 shadow-md">
            <div class="flex flex-col gap-2">
                <h1 class="font-bold text-2xl">{{ product.name }}</h1>
                <div style="background-color: {{ product.category.hex_code }};" class="w-fit px-1.5 py-0.5 rounded-2xl text-sm" >{{ product.category.name }}</div>
            </div>



            <hr class="text-border"> 

            <!-- Price -->
            <div class="w-96">
                {% if product.discount_percentage == 0 %}
                <!-- No discount -->
                    <div class="flex flex-col">
                        <span class="text-xl">{{ product.shop.currency_code }} {{ product.price_after_discount }}</span>
                        <span class="text-secondary-text">No discount on product.</span>
                    </div>
                {% else %}
                <!-- Yes discount -->
                    <div class="flex flex-col">
                        <div class="flex gap-2">
                            <span class="text-primary text-xl">-{{ product.discount_percentage }}%</span>
                            <span class="text-xl">{{ product.shop.currency_code }} {{ product.price_after_discount }}</span>
                        </div>
                        <span class="text-secondary-text">was <strike>{{ product.shop.currency_code }}{{ product.price }}</strike></span>
                    </div>
                {% endif %}
            </div>
            <!-- Stock -->
            <div>
                <span>{{ product.stock_quantity }} items left in stock</span>
            </div>

            <!-- INFO -->
            <div>
                Barcode: {{ product.barcode }} - <a href="{% url 'download_barcode' product.shop.slug product.pk %}" class="text-blue-400">Download Image</a>
            </div>
            <span>Reorder point: {% if product.reorder_point == None %} Not set {% else %} {{ product.reorder_point }} {% endif %}</span>

            <hr class="text-border">

            <!-- Sale info -->
            {% if product.reorder_point != None and product.stock_quantity <= product.reorder_point %}
                <div title="The current stock level is below or equal to reorder level." class="w-fit px-1.5 py-0.5 rounded-2xl text-sm bg-red-600 cursor-default">Low Stock Alert</div>
            {% else %}

            {% endif %}
            
            <a href="{% url 'product_update' shop.slug product.pk %}" class="bg-primary text-primary-text hover:bg-primary-hover rounded-md px-10 py-2 w-fit mt-8 ">Edit</a>

        </div>
    </div>
   <div>
    <span class="font-bold text-xl">Units Sold:</span>
    <div class="flex flex-col md:flex-row gap-2 flex-wrap">
        {% for label, value in product.sales_data %}
            <div class="bg-surface shadow-md relative flex justify-center items-center p-5 rounded-2xl w-40 h-28">
                <span class="absolute top-4 left-4 text-sm">{{ label }} Sales:</span>
                <span class="text-xl font-bold">{{ value }}</span>
            </div>
        {% endfor %}
    </div>
</div>

<div>
    <span class="font-bold text-xl">Revenue:</span>
    <div class="flex flex-col md:flex-row gap-2 flex-wrap">
        {% for label, value in product.revenue_data %}
            <div class="bg-surface shadow-md relative flex justify-center items-center p-5 rounded-2xl w-40 h-28">
                <span class="absolute top-4 left-4 text-sm">{{ label }} Revenue:</span>
                <div class="flex items-start font-bold text-xl">
                    <span class="text-sm relative top-[3px]">{{ product.shop.currency_code }}</span>
                    <span class="ml-1">{{ value }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}